<div class="container" style="margin-top: 80px">
  <%= render 'layouts/alerts' %>
  <div class="text-center">
    <h2>Dashboard</h2>
  </div>
  <div class="col-md-6">
    <%= link_to 'Nuevo Artista', new_artist_path, class: "btn btn-success btn-lg" %>
    <br><br>
    <% @artists.each do |artist| %>
      <div class="media" style="margin-bottom: 80px">
        <span class="media-left">
            <img src="<%= artist.image %>" alt="..." class="img-circle">
        </span>
        <div class="media-body">
            <h4 class="media-heading">Ranking</h4><p>4</p>
            <h4 class="media-heading">Nombre</h4><p><%= artist.name %></p>
            <h4 class="media-heading"># de Instatoons</h4><p>25</p>
            <h4 class="media-heading">
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
            </h4>
        </div>
        <%= link_to edit_artist_path(artist) do %>
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <% end %>
        <%= link_to artist, method: :delete, data: { confirm: 'Estás seguro de eliminar este artista?' } do %>
          <i class="fa fa-trash" aria-hidden="true"></i>
        <% end %>
      </div>
    <% end %>
	</div>
  <div class="col-md-6">
    <%= link_to 'Nuevo Toon', new_toon_path, class: "btn btn-success btn-lg" %>
	</div>
</div>
